<mat-toolbar color="primary">
  <mat-toolbar-row style="background: black;">
    <span>Projeto 19/20</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">

      <button mat-raised-button routerLink="/" routerLinkActive=disabled>Inicio</button>
      <button mat-raised-button routerLink="/teste" routerLinkActive="active">Formulário</button>
      <button mat-raised-button routerLink="/kibana" routerLinkActive="active">Kibana</button>
      <a routerLink="/first" routerLinkActive="active"><button mat-raised-button>First</button></a>
    </div>
    <span class="example-spacer"></span>
    <button mat-mini-fab color="white" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<body>
<div class="mat-app-background basic-container">
<router-outlet></router-outlet>
</div>
</body>


