<div align="center"><h1>Formulário Para Inserção de Valores Novos</h1></div>
<script src="https://unpkg.com/angular-datetime-input"></script>

<form [formGroup]="former" (ngSubmit)="onSubmit()">
 
    <div class="form-group" align="center">
        <b>
            <label for="">Corrente Mínima, Máxima, Média (Amperes-5 casas decimais): </label>
            <br>
            <input formControlName="Imin" class="form-control" type="number" id="Imin" step=0.00001 placeholder="0">
            <input formControlName="Imax" class="form-control" type="number" id="Imax" step=0.00001 placeholder="0">
            <input formControlName="Iavg" class="form-control" type="number" id="Iavg" step=0.00001 placeholder="0">
        </b>
    </div>
    <br><br>
    <div class="form-group" align="center">
        <b>
            <label for="">Voltagem Mínima, Máxima, Média (Volts-5 casas decimais):</label>
            <br>
            <input formControlName="Vmin" class="form-control" type="number" id="Vmin" step=0.00001 placeholder="0">
            <input formControlName="Vmax" class="form-control" type="number" id="Vmax" step=0.00001 placeholder="0">
            <input formControlName="Vavg" class="form-control" type="number" id="Vavg" step=0.00001 placeholder="0">
        </b>
    </div>
    <br><br>
    <div class="form-group" align="center">
        <b>
            <label for="">Potência Real Mínima, Máxima, Média (Watts-5 casas decimais):</label>
            <br>
            <input formControlName="Pmin" class="form-control" type="number" id="Pmin" step=0.00001 placeholder="0">
            <input formControlName="Pmax" class="form-control" type="number" id="Pmax" step=0.00001 placeholder="0">
            <input formControlName="Pavg" class="form-control" type="number" id="Pavg" step=0.00001 placeholder="0">
        </b>
    </div>
    <br><br>
    <div class="form-group" align="center">
        <b>
            <label for="">Potência Real Reativa Mínima, Máxima, Média (Volt-ampere reativo-5 casas decimais): </label>
            <br>
            <input formControlName="Qmin" class="form-control" type="number" id="Qmin" step=0.00001 placeholder="0">
            <input formControlName="Qmax" class="form-control" type="number" id="Qmax" step=0.00001 placeholder="0">
            <input formControlNameme="Qavg" class="form-control" type="number" id="Qavg" step=0.00001 placeholder="0">
        </b>
    </div>
    <br><br>
    <div class="form-group" align="center">
        <b>
            <label for="">  Fator de Potência Mínima, Máxima, Média (5 casas decimais):</label>
            <br>
            <input formControlName="PFmin" class="form-control" type="number" id="PFmin" step=0.00001 placeholder="0">
            <input formControlName="PFmax" class="form-control" type="number" id="PFmax" step=0.00001 placeholder="0">
            <input formControlName="PFavg" class="form-control" type="number" id="PFavg" step=0.00001 placeholder="0">
        </b>
    </div>
    <br><br>
    <div align="center">
        <button type="submit">Submit</button> <input type="file" class="upload" (change)="changeListener($event.target.files)">

    </div>
