

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  text-align: center;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .box div {
        width: 800px;
        height: 800px;
    }
