<div>
    
    <h1>Filtro:</h1>


    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker"  (dateChange)="addEvent('1', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      




    <div class="example-container mat-elevation-z8" layout="column">

        
        <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                Não esta a ser possivel carregar os dados solicitados.
            </div>
       </div> 
  
    <div class="example-table-container">
  
      <table mat-table [dataSource]="data" class="example-table" matSort class="mat-elevation-z8">
        <!-- Number Column -->
        <ng-container matColumnDef="iid">
          <th mat-header-cell *matHeaderCellDef>iid.</th>
          <td mat-cell *matCellDef="let row">{{row._source.iid}}</td>
        </ng-container>
  
        <ng-container matColumnDef="Iavg">
            <th mat-header-cell *matHeaderCellDef> Iavg. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Iavg}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Imax">
            <th mat-header-cell *matHeaderCellDef> Imax. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Imax}} </td>
        </ng-container>

        <ng-container matColumnDef="Imin">
            <th mat-header-cell *matHeaderCellDef> Imin. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Imin}} </td>
        </ng-container>

        <ng-container matColumnDef="PFavg">
            <th mat-header-cell *matHeaderCellDef> PFavg. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.PFavg}} </td>
        </ng-container>

        <ng-container matColumnDef="PFmax">
            <th mat-header-cell *matHeaderCellDef> PFmax. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.PFmax}} </td>
        </ng-container>

        <ng-container matColumnDef="PFmin">
            <th mat-header-cell *matHeaderCellDef> PFmin. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.PFmin}} </td>
        </ng-container>

        <ng-container matColumnDef="Pavg">
            <th mat-header-cell *matHeaderCellDef> Pavg. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Pavg}} </td>
        </ng-container>

        <ng-container matColumnDef="Pmax">
            <th mat-header-cell *matHeaderCellDef> Pmax. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Pmax}} </td>
        </ng-container>

        <ng-container matColumnDef="Pmin">
            <th mat-header-cell *matHeaderCellDef> Pmin. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Pmin}} </td>
        </ng-container>

        <ng-container matColumnDef="Qavg">
            <th mat-header-cell *matHeaderCellDef> Qavg. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Qavg}} </td>
        </ng-container>

        <ng-container matColumnDef="Qmax">
            <th mat-header-cell *matHeaderCellDef> Qmax. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Qmax}} </td>
        </ng-container>

        <ng-container matColumnDef="Qmin">
            <th mat-header-cell *matHeaderCellDef> Qmin. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Qmin}} </td>
        </ng-container>

        <ng-container matColumnDef="Vavg">
            <th mat-header-cell *matHeaderCellDef> Vavg. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Vavg}} </td>
        </ng-container>

        <ng-container matColumnDef="Vmax">
            <th mat-header-cell *matHeaderCellDef> Vmax. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Vmax}} </td>
        </ng-container>

        <ng-container matColumnDef="Vmin">
            <th mat-header-cell *matHeaderCellDef> Vmin. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.Vmin}} </td>
        </ng-container>

        <ng-container matColumnDef="deploy">
            <th mat-header-cell *matHeaderCellDef> deploy. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.deploy}} </td>
        </ng-container>

        <ng-container matColumnDef="miss_flag">
            <th mat-header-cell *matHeaderCellDef> miss_flag. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.miss_flag}} </td>
        </ng-container>

        <ng-container matColumnDef="tmstp">
            <th mat-header-cell *matHeaderCellDef> tmstp. </th>
            <td mat-cell *matCellDef="let row"> {{row._source.tmstp}} </td>
        </ng-container> 
      
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <button mat-raised-button (click)="download()" style="display: table-cell; margin: 8px; align-content: center;">Download</button>
    <button mat-raised-button (click)="limpar()" color="warn">Limpar</button>
    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    
  </div>
  



