  <style type="text/css">
  
    iframe { border: 0; }
  </style>
  <div>
  <iframe src="http://localhost:5601/app/kibana#/dashboard/8b84d0c0-c697-11ea-a921-e58f3879856e?embed=true&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),query:(language:kuery,query:''),timeRestore:!f,title:Projeto,viewMode:view)&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))" height="1000" width="1850"></iframe> 
</div>
